[submodule "WMs/dwm"]
	path = WMs/dwm
	url = https://github.com/eatmyvenom/dwm
[submodule "terminals/terminals/st"]
	path = terminals/terminals/st
	url = https://github.com/eatmyvenom/st
[submodule "terminals/st"]
	path = terminals/st
	url = https://github.com/eatmyvenom/st
