pkgbase = dwm
	pkgdesc = A dynamic window manager for X
	pkgver = 6.2
	pkgrel = 2
	url = http://dwm.suckless.org
	install = dwm.install
	arch = i686
	arch = x86_64
	license = MIT
	depends = libx11
	depends = libxinerama
	depends = libxft
	depends = freetype2
	depends = st
	depends = dmenu
	options = zipman
	source = http://dl.suckless.org/dwm/dwm-6.2.tar.gz
	source = config.h
	source = dwm.desktop

pkgname = dwm

