pkgbase = dwm
	pkgdesc = A dynamic window manager for X
	pkgver = 6.2
	pkgrel = 2
	url = http://dwm.suckless.org
	arch = i686
	arch = x86_64
	license = MIT
	depends = libx11
	depends = libxinerama
	depends = libxft
	depends = freetype2
	options = zipman
	source = https://github.com/eatmyvenom/dotfiles/raw/main/dwm/dwm.tar.gz
	sha256sums = SKIP

pkgname = dwm
