<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
    <menu id="root-menu" label="OpenBox 3">
    	<item label="Run"> <action name="Execute">
	    <execute>rofi -modi run,drun,window -lines 12 -padding 18 -width 30 -location 0 -show drun -sidebar-mode -columns 3 -font "Noto Sans 8"</execute>
	</action> </item>
	<separator/>
        <item label="Web Browser"> <action name="Execute">
            <execute>chromium-browser</execute>
        </action> </item>
        <item label="Discord Chat"> <action name="Execute">
            <execute>/opt/discord/Discord</execute>
        </action> </item>
        <item label="Music Player"> <action name="Execute">
            <execute>/usr/bin/google-play-music-desktop-player</execute>
        </action></item>
        <item label="Remote Desktop"> <action name="Execute">
            <execute>remmina-file-wrapper</execute>
        </action> </item>
        <menu id="1" label="Terminal">
	    <item label="Local"> <action name="Execute">
                <execute>konsole</execute>
            </action> </item>
	    <item label="Root"> <action name="Execute">
	        <execute>konsole</execute>
	    </action> </item>
	</menu>
        <item label="File Manager"> <action name="Execute">
            <execute>thunar</execute>
        </action> </item>
        <separator/>
        <menu id="2" label="Network">
            <item label="Chromium"> <action name="Execute">
                <execute>chromium-browser</execute>
            </action> </item>
	    <item label="Mozilla Firefox"> <action name="Execute">
	        <execute>firefox-bin</execute>
	   </action> </item>
            <item label="Discord"> <action name="Execute">
                <execute>/opt/discord/Discord</execute>
            </action> </item>
            <item label="Remmina"> <action name="Execute">
                <execute>remmina-file-wrapper</execute>
            </action> </item>
            <item label="Transmission"> <action name="Execute">
                <execute>transmission-remote-gtk</execute>
            </action> </item>
            <item label="Zoiper"> <action name="Execute">
                <execute>/opt/Zoiper5/zoiper</execute>
            </action> </item>
        </menu>
	<menu id="3" label="Development">
	    <item label="Visual Studio Code"> <action name="Execute">
	        <execute>visual-studio-code</execute>
	    </action> </item>
	    <item label="Emacs"> <action name="Execute">
	        <execute>xfce4-terminal -e emacs</execute>
	    </action> </item>
	</menu>
	<menu id="4" label="Office">
	    <item label="Writer"> <action name="Execute">
	        <execute>libreoffice --writer</execute>
	    </action> </item>
	    <item label="Calc"> <action name="Execute">
                <execute>libreoffice --calc</execute>
            </action> </item>
	    <item label="Draw"> <action name="Execute">
                <execute>libreoffice --draw</execute>
            </action> </item>
	    <item label="Impress"> <action name="Execute">
                <execute>libreoffice --impress</execute>
            </action> </item>
	    <item label="Base"> <action name="Execute">
                <execute>libreoffice --base</execute>
            </action> </item>
	    <item label="Math"> <action name="Execute">
                <execute>libreoffice --math</execute>
            </action> </item>
	    <item label="Web"> <action name="Execute">
                <execute>libreoffice --web</execute>
            </action> </item>
	</menu>
	<menu id="5" label="Graphics"> 
	    <item label="GIMP"> <action name="Execute">
	    	<execute>gimp</execute>
	    </action> </item>
	    <item label="Color Chooser"> <action name="Execute">
	    	<execute>gcolor2</execute>
	    </action></item>
	    <item label="RawTherapee"> <action name="Execute">
	        <execute>rawtherapee</execute>
	    </action> </item>
	</menu>
        <menu id="6" label="Multimedia">
            <item label="Sonata"> <action name="Execute">
	        <execute>sonata</execute>
	    </action> </item>
	    <item label="Google Play Music Desktop Player"> <action name="Execute">
                <execute>google-play-music-desktop-player</execute>
            </action> </item>
	    <item label="Handbrake"> <action name="Execute">
	        <execute>ghb</execute>
	    </action> </item>
            <item label="VLC media player"> <action name="Execute">
                <execute>vlc</execute>
            </action> </item>
	    <item label="Ncmpcpp"> <action name="Execute">
	        <execute>xfce4-terminal -e ncmpcpp</execute>
	    </action> </item>
        </menu>
	<menu id="7" label="Games">
	    <item label="Steam"> <action name="Execute">
	    	 <execute>sudo steam-chroot</execute>
	    </action> </item>
	    <separator/>
	    <item label="Minecraft"> <action name="Execute">
	         <execute>multimc</execute>
	    </action> </item>
	</menu>
        <menu id="8" label="Virtual Machines">
            <item label="Virtual Machine Manager"> <action name="Execute">
	         <execute>virt-manager</execute>
	    </action> </item>
	    <separator/>
            <menu id="9" label="Windows 10">
	          <item label="Connect"> <action name="Execute">
		       <execute>remmina -c /home/trademark91/.local/share/remmina/group_rdp_win10-vm_192-168-122-109.remmina</execute>
		  </action> </item>
		  <item label="Start"> <action name="Execute">
		       <execute>sudo virsh start win10</execute>
		  </action> </item>
	    </menu>
	    <item label="MacOS"> <action name="Execute">
	    	 <execute>sudo virsh start macOS_High-Sierra</execute>
	    </action> </item>
        </menu>
        <menu id="10" label="System">
            <item label="Calculator"> <acton name="Execute">
	    	 <execute>galculator</execute>
	    </action> </item>
	    <item label="Wallpaper"> <action name="Execute">
                 <execute>nitrogen</execute>
            </action> </item>
            <item label="GTK Settings"> <action name="Execute">
                 <execute>lxappearance</execute>
            </action> </item>
	    <item label="Cadence"> <action name="Execute">
	         <execute>cadence</execute>
  	    </action> </item>
	    <item label="Jack Audio Connection Kit"> <action name="Execute">
	         <execute>qjackctl</execute>
	    </action> </item>
            <item label="Pulse Audio Control"> <action name="Execute">
                <execute>pavucontrol</execute>
            </action> </item>
            <item label="Openbox Configuration Manager"> <action name="Execute">
                 <execute>obconf</execute>
            </action> </item>
            <menu id="11" label="OpenBox">
            <menu id="client-list-menu"/>
            <item label="Reconfigure"> <action name="Reconfigure"/> </item>            
         </menu>     
    </menu>
    <separator/>
    <item label="Exit"> <action name="Exit"/> </item>
</openbox_menu>
